@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

.main-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

p {
    font-family: 'Poppins', sans-serif;
}

ul {
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

.link-button {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #444444;
}

.any-link {
    color: #555555;
    text-decoration: underline;
    text-decoration-color: orangered;
    text-decoration-thickness: 2px;
}

.image-gallery {
    width: 500px;
    border-radius: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.section-detail {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.listings {
    list-style: none;
}

li {
    font-family: 'Poppins', sans-serif;
}

p strong {
    color: #444444;
}

hr {
    width: 60%;
    position: relative;
    color: #444444;
}